# --- VIRTUAL ENVIRONMENT ---
# folder env
venv/
env/
.env
lacaktanienv/

# --- SAMPAH PYTHON ---
__pycache__/
*.py[cod]

# --- IDE / SYSTEM ---
.vscode/
.idea/
.DS_Store

# --- HASIL TRAINING / OUTPUT ---
models/
runs/
output/
*.tmp

# --- DATABASE ---
*.db
*.sqlite3

